APP_ENV=
APP_NAME=
BVN_PROVIDER_API_KEY=
CAC_PROVIDER_API_KEY=
DATABASE_URL=
DB_CONNECTION=
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=
FLUTTERWAVE_CLIENT_ID=
FLUTTERWAVE_CLIENT_SECRET=
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_HOST=
MAIL_MAILER=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_USERNAME=
NEXT_PUBLIC_API_BASE_URL=
NIN_PROVIDER_API_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
REMITA_API_KEY=
REMITA_MERCHANT_ID=
REMITA_SERVICE_TYPE_ID=
TELECOM_PROVIDER_API_KEY=
TELECOM_PROVIDER_SECRET=