<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /api/

    # Serve physical PHP files directly if they exist
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Virtual routes to front-controller index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
